*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
@keyframes zoom {
    100% {
        scale: 1;
    }
}
.main {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    overflow: hidden;
}
.sub{
    display: flex;
    flex-wrap: wrap;
    width: 300vw;
    height: 300vh;
    position: relative;
    scale: 0.3333333333;
    /* animation: zoom 1s ease forwards; */
}
.inner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.inner:nth-child(1){
    top: 100vh;
    left: 100vw;
}
.inner:nth-child(2){
    top: 100vh;
    left: 200vw;
}
.inner:nth-child(3){
    top: 200vh;
    left: 200vw;
}
.inner:nth-child(4){
    top: 200vh;
    left: 100vw;
}
.inner:nth-child(5){
    top: 200vh;
    left: 0vw;
}
.inner:nth-child(6){
    top: 100vh;
    left: 0vw;
}
.inner:nth-child(7){
    top: 0vh;
    left: 0vw;
}
.inner:nth-child(8){
    top: 0vh;
    left: 100vw;
}
.inner:nth-child(9){
    top: 0vh;
    left: 200vw;
}